@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|LibreBaskerville:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre Baskerville:100,200,300,400,500,600,700|San Serif:100,200,300,400,500,600,700');
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

*,
 ::after,
 ::before {
	box-sizing: border-box;
}

h3 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	background-color: transparent;
	resize: both;
}

body {
	background-color: azure;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Libre Baskerville';
	text-indent: 25px;
}


/* used for links in menu bar */

.container-fluid {
	alignment-baseline: text-after-edge;
	border: none;
}

.sticky {
	position: static;
	top: 0;
}

.list-inline-item {
	text-align: right;
	border-color: black;
}

.address {
	text-align: right;
}

head {
	z-index: 1;
	border-collapse: collapse;
	border-color: white;
}


/* Page content */

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 35px;
	width: 100%;
}

.stickytitle {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 35px;
	z-index: 1;
}

.sticky+.content {
	padding-top: 60px;
}

.general-sub {
	background-color: black;
	border-color: black;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.list-inline-item {
	color: white
}

title sticky {
	top: 25px
}

.buttonsticky {
	padding-right: 25px
}

container-fluid sticky {
	padding-bottom: 1000px;
}


/* Footer Styles */

.social-links li a i {
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: white;
	background: black;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	background: #7CFC00;
}


/* ----------- Contact form------------------*/

.form-style-1 {
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
	width: 49%;
}

.form-style-1 .field-long {
	width: 100%;
}

.form-style-1 .field-select {
	width: 100%;
}

.form-style-1 .field-textarea {
	height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
	background: #4691A4;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-style-1 .required {
	color: red;
}


/* ----------- Contact  form------------------*/


/* ----------- Menu Bar------------------*/

.menu-content {
	font-family: 'Oswald', sans-serif;
	padding: 0 0 0 50px;
}

.collapsible-menu {
	background-color: rgb(255, 255, 255);
	padding: 0px 30px;
	padding-right: 0px;
	border-bottom: 3px solid #CDE700;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 3;
}

.collapsible-menu ul {
	list-style-type: none;
	padding: 0;
}

.collapsible-menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.collapsible-menu label {
	font-family: 'Libre Baskerville', cursive;
	font-size: 40px;
	display: block;
	cursor: pointer;
	background: url(../images/menu.png) no-repeat left center;
	padding: 10px 0 10px 50px;
}

input#menu {
	display: none;
}

input:checked+label {
	background-image: url(../images/close.png);
}

.menu-content {
	max-height: 0;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	padding: 0 0 0 50px;
}


/* Toggle Effect */

input:checked~label {
	background-image: url(../images/close.png);
}

input:checked~.menu-content {
	max-height: 100%;
}


/* ----------- Collapsible Menu------------------*/

.collapsible-menu {
	background-color: rgb(255, 255, 255);
	padding: 0px 30px;
	border-bottom: 3px solid #CDE700;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	opacity: 1;
	z-index: 2;
}


/* ----------- Menu Bar------------------*/

.videoclass2wreaths {
	background-image: url(../images/Wreaths.1.JPG);
	width: 100%;
	height: 100%;
	min-height: 500px;
	opacity: 1;
	text-size: 30px;
	text-transform: uppercase;
	color: white;
	background-position: center;
	resize: both;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 40em) {
	h4 {
		display: none;
	}
}


/* ----------- Styling for footer----*/

.container-fluid {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.general-sub {
	background-color: #CDE700;
	border-color: #CDE700;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.col-sm-4 {
	text-align: center;
	border-color: #CDE700;
	background-color: #CDE700
}

.list-inline-item {
	color: #CDE700;
}

.list-inline-item {
	text-align: right;
	border-color: #CDE700;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	position: fixed;
	bottom: 0px;
}

.informationsection {
	position: relative;
	font-style: italic;
}


/* ----------- Information for wreaths------------------*/

.infowreaths {
	padding-top: 35px;
	padding-right: 35px;
	z-index: 2;
	background-color: azure;
}


/* ----------- Background images or wreaths------------------*/

.WreathsBackground {
	background-image: url(../images/Wreaths.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100%;
	min-height: 800px;
	max-width: 100%;
	max-height: 60%;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 0px;
	padding-left: 0px;
	z-index: 0;
}

.videoclass2wreaths {
	background-image: url(../images/Wreaths.1.JPG);
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	opacity: 1;
	text-size: 30px;
	text-transform: uppercase;
	color: white;
	list-style: circle;
	text-align: center;
	padding-top: 35px;
	background-size: cover;
}


/* ----------- Makes header writing smaller on screen below 40em------------------*/

@media (max-width: 320px) {
	.collapsible-menu label {
		font-family: 'Libre Baskerville', cursive;
		font-size: 15px;
		display: block;
		cursor: pointer;
		background: url(../images/menu.png) no-repeat left center;
		padding: 10px 0 10px 50px;
	}
}

@media(min-width:321px) and (max-width:720px) {
	.collapsible-menu label {
		font-family: 'Libre Baskerville', cursive;
		font-size: 22px;
		display: block;
		cursor: pointer;
		background: url(../images/menu.png) no-repeat left center;
		padding: 10px 0 10px 50px;
	}
}

footer {
	text-align: center;
	background-color: #CDE700;
	color: white;
	text-shadow: none;
	text-transform: uppercase;
	position: fixed;
	height: 60px;
	max-height: 10%;
	font-family: 'Libre Baskerville';
	bottom: 0px;
	text-indent: 0px;
}


/* keeping footer social links bacground black on hover*/

footer a {
	background-color: #ff2400
}

a:hover {
	background-color: transparent;
	color: orange;
}

.carousel-details {
	padding-top: 0px;
	padding-right: 25px;
	text-align: center;
	background-color: transparent;
}


}
@media (max-width: 60em) {
	.wreathfooter1 {
		display: none;
	}
}
.azure {
	color: azure;
	text-shadow: 1px;
	position: center;
}

}
.lime {
	color: lime
}
.gold {
	color:gold;
	text-shadow: 3px black;
	padding-top: 150px;
	position: center;
}
.black {
	color: black;
	text-indent: 100px;
}
@media (max-width: 60em) {
	.black {
		text-indent: 25px;
	}
}
.beige {
	color : #f5f5dc
}
.red {
	color: #ff2400;
	text-shadow: 1px;
	position: center;
}
.wedding {
	height: 250px;
	width:100%;
}
@media (min-width: 60em) {
	.wedding {
		display: none;
	}
}
@media (min-width: 40em) {
	.WreathsBackground {
		background-image: url(..images\Wreaths.1.JPG) no-repeat left center;
	}
}

/* ----------- Contact Background------------------*/
.ContactBackground {
	background-image: url(../images/growing_flowers.jpg);
	position: absolute;
	resize: both;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	padding-top: 90px;
	padding-right: 0px;
	padding-left: 0px;
	z-index: 0;
	text-indent: 0px;
}
. {
	background: fixed;
	text-align: center;
	background-color: #CDE700;
	color: white;
	text-shadow: none;
	text-transform: uppercase;
	position: relative;
	height: 80px;
	max-height: 20%;
	position: fixed;
	bottom: 0px;
	text-indent: 0px;
}
@media (max-width: 1080px) {
	.wreathfooter1 {
		display: none;
	}
}
@media (max-width: 320px) {
	.ContactBackground {
		padding-top: 40px;
	}
}
@media (max-width: 1080px) {
	.carousel-caption h3 {
		color: #CDE700;
		text-shadow: 2px 2px black;
	}
}
@media (min-width: 1081px) {
	.carousel-caption h3 {
		color: azure;
		text-shadow: 2px 2px black;
	}
}
@media (max-width: 400px) {
	.carousel-indicators {
		display: none
	}
}
@media (min-width: 401px) {
	.videoclass2wreaths {
		background-image: url(../images/wreath1.jpg.jpg);
		width: 100%;
		min-height: 100vh;
		max-height: 100vh;
		opacity: 1;
		text-size: 30px;
		text-transform: uppercase;
		color: white;
		background-position: center;
		resize: both;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/* ----------- Carousel------------------*/
	.item.carousel-caption h3 {
		text-transform: uppercase;
		text-align: center;
		color: azure;
		background-color: transparent;
		resize: both;
	}
	.item img {
		width: 100%;
		min-height: 100vh;
		max-height: 100vh;
	}
	.carousel-caption {
		bottom: 300px;
		text-align: center;
	}
	.carousel-indicators {
		display: none
	}
}
.carousel-inner {
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;
}
@media (max-width: 600px) {
	.item img {
		min-height: 100vh;
		max-height: 100vh;
		resize: both;
	}

	@media (max-width: 2000px) {
		.carousel-caption {
			position: absolute;
			right: 15%;
			bottom: 250px;
			left: 15%;
			z-index: 10;
			padding-top: 20px;
			padding-bottom: 20px;
			color: azure;
			text-align: center;
			text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		}}
	