@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



.mission {
    text-transform: uppercase;
    color: green;
    
    
    
}

.container {
    min-width:  100%;
    padding-left: 0px;
    padding-right: 0px;
}
    .title{
        text-align: center;
        color: white;
        
    }
    

        
h3 {
    text-transform: uppercase;
    text-align: center;
 
    color: green;
    background-color: #FF00FF;
    resize: both;
}



.button {
    background-color: #7CFC00;
    text-align: center;
    color: white;
    width: 25%;
    transition-duration: .9s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    
}
    
.button:hover {
    background-color: white;
    color: #7CFC00;
  
    
}

a:hover{background-color: white;
    color: #7CFC00;}



.sr-only {color: white}

.list-inline-item {color: white}

.infoclass {
background-color: transparent;
}


            
#myVideo {  position: center;
  
  width: 100%; 
  min-height: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

  .col-sm-4 {
      text-align: center;
      border-color: #FF00FF;
  }
  
  /* Callout box - fixed position at the bottom of the page */
.callout {
  position:fixed;
  top: 150px;
  right: 200px;
  margin-left: 20px;
  max-width: 300px;
  color: white;
}

.callout2{
  position:fixed;
  top: 150px;
  left: 100px;
  margin-left: 20px;
  max-width: 300px;
  color: white;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}



.col-sm-4 {border-color: #FF00FF;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid
{alignment-baseline: text-after-edge;
    border:none;
}

.sticky {position: static;
   top: 0;
}
       
       body {background-color: #FF00FF;
       padding-left: 0px;
       
       padding-right: 0px;
           
       }    
       
       .list-inline-item {text-align: right;
           border-color: #FF00FF;
       }
       
       
       .address {text-align: right;}
       
       
       head {z-index: 1;
       border-collapse: collapse;
       border-color: white;
       }
       
       .sticky {
 
  position:static;
  top: 0;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 35px;
  width: 100%;
}

.stickytitle {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 35px;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.general-sub 
{background-color: #FF00FF;
border-color: #FF00FF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.list-inline-item{color: white}

title sticky {top: 25px}

button sticky{padding-top: 25px}
 
 
 .footerpin{position: bottom 35px}

 container-fluid sticky{padding-bottom: 1000px;} 
  
 .social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: magenta;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7CFC00;
} 

footer {
    text-align: center;
    background-color: #FF00FF;
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    position: fixed;
    position: absolute;
    height: 25px;
    max-height: 10%;
    bottom: 0px;
    

  
} 

.container-fluidf {bottom: 10px;}
.footerbackground {
    
    
    
    
}

/* Wreaths */

.WreathsBackground{
    background-image: url("../images/Wreaths.JPG");
    
    position: absolute;
    resize: both;
    
    min-width: 100%;
    min-height: 100%;
    padding-top: 35px;
     padding-bottom: 35px;
  padding-right: 0px;
  padding-left: 0px;
  z-index: 0;
}

    
       media 
                

    
    